/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#F5CF06;
    --secundary-color:#8E4106;
    --white:#ffffff;
    --space-desfault: 70px;
}

body{
    height: 100vh;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-left: var(--space-desfault);
    padding-top: var(--space-desfault);
    padding-right: var(--space-desfault);
    padding-bottom: 24px;
    font-family: 'Righteous', cursive;
}

header{
    background-color: aqua;
    height: 48px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secundary-color);
    font-size: 2rem;
}
main{
    flex-grow: 1;
}

footer{
    background-color: rgb(11, 243, 11);

}